body {
    overflow-x: hidden;
    font-family: 'Bebas Neue';
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 3;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}

.loader {
    width: 120px;
    height: 120px;
    border: 10px solid #ff2e38;
    border-radius: 50%;
    border-top-color: #ffffff00;
    border-bottom-color: #fff0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
}

.loader-page {
    width: 40px;
    height: 40px;
    border: 10px solid #ff2e38;
    border-radius: 50%;
    border-left-color: #ffffff00;
    border-right-color: #fff0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
}

.loader-page1 {
    width: 80px;
    height: 80px;
    border: 10px solid #ff2e38;
    border-radius: 50%;
    border-top-color: #ff2e3800;
    border-bottom-color: #ff2e3800;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
}

.done {
    opacity: 0;
    visibility: hidden;
}

#contact {
    width: 100%;
    min-height: 90px;
    color: #fff;
    background: #010E16;
}

.contact-icon {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-icon img {
    padding: 0 10px;
}

.contact-icon a {
    font-size: 15px;
    font-weight: 400;
    transition: 0.4s;
    text-decoration: none;
    color: #fff !important;
    cursor: pointer;
}

.contact-icon a:hover {
    color: #FA3943 !important;
}

.social {
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.social-icon-yt {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transition: 0.4s;
}

.social-icon-yt:hover {
    border-color: #fe0000;
    box-shadow: 0px 0px 25px 0px #fe0000;
}

.social-icon-yt:hover .fa-youtube {
    color: #fe0000 !important;
}

.fa-youtube {
    transition: 0.4s;
}

.social-icon-wp {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transition: 0.4s;
}

.social-icon-wp:hover {
    border-color: #0faa05;
    box-shadow: 0px 0px 25px 0px #0faa05;
}

.social-icon-wp:hover .fa-whatsapp {
    color: #0faa05 !important;
}

.fa-whatsapp {
    transition: 0.4s;
}

.social-icon-tg {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transition: 0.4s;
}

.social-icon-tg:hover {
    border-color: #02a7ff;
    box-shadow: 0px 0px 25px 0px #02a7ff;
}

.social-icon-tg:hover .fa-telegram {
    color: #02a7ff !important;
}

.fa-telegram {
    transition: 0.4s;
}

.social-icon-inst {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transition: 0.4s;
}

.social-icon-inst:hover {
    border-color: #ff00b7;
    box-shadow: 0px 0px 25px 0px #ff00b7;
}

.social-icon-inst:hover .fa-instagram {
    color: #ff00b7 !important;
}

.fa-instagram {
    transition: 0.4s;
}

.order {
    width: 205px;
    min-height: 64px;
    border-radius: 30px;
    background: none;
    border: 2px solid #FA3943;
    transition: 0.4s;
}

.order:hover {
    background: #ff2e38;
    color: #fff;

    border-radius: 15px;
}

.order:active {
    background: #f96b73;
    color: #fff;
}

.navbar {
    background: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.nav-item a {
    position: relative;
    color: #000;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 20px;
}

.nav-item a:hover {
    color: #000;
}

.nav-item a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FA3943;
    content: "";
    transition: width 0.3s ease-out;
    top: 30px;
}

.nav-item a:hover:after,
.nav-item a:focus:after {
    width: 100%;
}

.text {
    width: 100%;
    min-height: 700px;
}

#header {
    max-width: 100%;
    min-height: 630px;
    background: url(../images/women.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    animation: swap 10s linear infinite;
 
}

#header h2 {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.galery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 50px 0px;
}

.galery-item {
    position: relative;
    max-width: 700px;
    background-color: #444;
}

.galery-item img {
    max-width: 100%;
    height: auto;
}

.swiper {
    width: 100%;
    padding-top: 185px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.header-text {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.button-icon {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button-item {
    width: 300px;
    height: 60px;
    background: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    transition: 0.4s;
    border: none;
}

.button-item:hover {
    background: #FA3943;
    color: #000;
    border-radius: 10px;
}

.button-item-tg {
    width: 300px;
    height: 60px;
    background: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    transition: 0.4s;
    border: none;
}

.button-item-tg:hover {
    background: #2196ae;
    color: #000;
    border-radius: 10px;
}

.button-item-inst {
    width: 300px;
    height: 60px;
    background: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    transition: 0.4s;
    border: none;
}

.button-item-inst:hover {
    background: linear-gradient(357deg, #fd0ef1, #e0e600d9);
    color: #fff;
    border-radius: 10px;
}

#advantages {
    width: 100%;
    min-height: 400px;
    background: #fff;
}

.benefit {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.benefit:hover {
    background: #FA3943;
    color: #fff;
    border-radius: 15px;
    transition: 0.4s;
}

.benefit-active {
    background: #FA3943;
    color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    width: 94px;
    height: 94px;
    background: #FA3943;
    border-radius: 50%;
    border: 5px solid #ffb1b5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#Free-shipping {
    width: 100%;
    min-height: 200px;
    padding-top: 25px;
}

.free {
    width: 100%;
    min-height: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    transition: 0.4s;
    margin-bottom: 15px;
    background-color: #FA3943;
    color: #fff;
}

.order-me {
    color: #fff;
    border: 2px solid #fff;
}

.rates:hover .order-me:hover {
    color: #000;
    background-color: #fff;
}

.order-me {
    width: 205px;
    min-height: 64px;
    border-radius: 30px;
    background: none;
    transition: 0.4s;
    color: #fff;
    border: 2px solid #fff;
}

.order-me:hover {
    background: #fff;
    color: #000 !important;
    border-radius: 15px;
}

#bagage {
    width: 100%;
    min-height: 1100px;
    background: url(../images/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#bagage h2 {
    font-size: 50px;
    color: #fff;
}

.bagage-family {
    max-width: 365px;
    min-height: 565px;
    background: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    color: #000;
}

.bagage-family img {
    max-width: 220px;
    border: 2px solid red;
    border-radius: 10px;
}

p.family {
    width: 140px;
    min-height: 30px;
    background: #DA00D1;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
}

p.bags {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.bagage-family p.price {
    font-size: 25px;
    color: #ff2e38;
}

.order-bag {
    width: 270px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: #FA3943;
    color: #Fff;
    font-size: 20px;
    transform: 0.6s;
}

.order-bag:hover {
    background: #f96b73;
    border-radius: 15px;
}

.order-bag:active {
    background: #ff2e38;
}

#benefit-as {
    width: 100%;
    min-height: 350px;
}

.arrow-circle {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.circle-benefit {
    width: 130px;
    height: 120px;
    background: #FA3943;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: flex-end;
    position: relative;
    transition: 0.4s;
}

.circle-benefit:hover {
    width: 130px;
    height: 130px;
    background: #fb1924;
    border-radius: 15px;
}

p.buy-text {
    color: #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -55px;
    font-size: 22px;
}

p.buy-text-drive {
    color: #000;
    position: absolute;
    left: 20px;
    right: 0;
    bottom: -55px;
    font-size: 22px;
}

img.buy-benefit {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 25px;
    top: 20px;
}

img.buy-benefit-t {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 17px;
    top: 20px;
}

#contact-as {
    width: 100%;
    min-height: 575px;
    background: url(../images/back-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-body {
    position: relative;

}

.form-body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #44444485;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.form-body._sending::after {
    opacity: 1;
    visibility: visible;
}

.wrapper {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.wrapper p {
    font-size: 21px;
    font-weight: 400;
}

.wrapper span {
    font-size: 10px;
    font-weight: 600;
    padding: 0px 10px;
}

#form {
    background: #fff;
    max-width: 500px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.form_item {
    margin: 10px 45px;
}

.form_input {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background: #83838361;
    border: none;
    color: #000;
    padding: 0px 10px;
}

.form_button {
    width: 200px;
    min-height: 45px;
    border: none;
    border-radius: 30px;
    background: #ff2e38;
    color: #fff;
    transition: 0.4s;
}

.form_button:hover {
    background: #f96b73;
    border-radius: 15px;
}

.form_input._error {
    box-shadow: 0 0 15px red;
}

#partner {
    width: 100%;
    min-height: 365px;
}

.partner-our {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#telegram-as {
    width: 100%;
    min-height: 445px;
    background: #010E16CC;
}

.telegram-our {
    width: 100%;
    min-height: 345px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.telegram-our h2 {
    font-size: 35px;
    font-weight: 400;
    color: #fff;
}

.telegram-our p {
    font-size: 23px;
    font-weight: 400;
    color: #Fff;
    text-align: center;
}

.subrscribe {
    width: 300px;
    height: 60px;
    background: #fff;
    color: #000;
    border-radius: 50px;
    transition: 0.4s;
    border: none;
}

.subrscribe:hover {
    background: #ff2e38;
    color: #fff;
    border-radius: 15px;
}

.subrscribe:active {
    background: #f96b73;
}

.subrscribe a {
    text-decoration: none;
    color: #000;
}

#ask {
    width: 100%;
    min-height: 370px;
    background: #fff;
}

.item-text h2 {
    font-size: 40px;
    font-weight: 400;
    color: #000;
}

.item-text p {
    font-size: 30px;
    font-weight: 400;
    color: #000;
}

.registration-ask {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.registration-butt {
    width: 300px;
    height: 60px;
    background: #444;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    transition: 0.4s;
    border: none;
    margin: 10px 0;
}

.registration-butt:hover {
    background: #FA3943;
    border-radius: 15px;
}

#review {
    background: url(../images/zyro-image.png);
    background-color: #f0f6ff;
    max-width: 100%;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

#review h2 {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.review-container {
    width: 325px;
    min-height: 420px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: 2px solid #ff2e38;
}

.photo {
    max-width: 500px;
    min-height: 290px;
    border-bottom: 2px solid #ff2e38;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.whrite-review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 290px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #444;
    justify-content: space-around;
}

.consultation {
    width: 100%;
    height: 65px;
    text-align: center;
}

.consultation-me {
    width: 200px;
    height: 65px;
    border: none;
    background: #FA3943;
    color: #Fff;
    font-size: 18px;
    font-weight: 400;
    border-radius: 99px;
    transition: 0.4s;
    margin: -15px 0;
    transition: 0.4s;
}

.consultation-me:hover {
    background: #fff;
    color: #000;
    border-radius: 15px;
}

._anim-show {
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
    transform: scale(1);
    opacity: 1;
    transform: translate(0px 0px);
}

.all {
    width: 100%;
    /* min-height: 500px; */
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin: 0;
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.all._active {
    transform: scale(1);
    opacity: 1;
    transition: 0.8s;
}

#geolacation {
    width: 100%;
    min-height: 700px;
    background: #EDF1F5;
}

.line-contact {
    width: 100%;
    min-height: 80px;
    background: #bababa;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.line-contact span {
    padding: 0 25px;
}

.line-contact p {
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.line-contact p:hover {
    font-weight: 600;
}

.location {
    width: 100%;
    height: 480px;
    background: #bababa;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.location iframe {
    width: 98%;
    height: 440px;
    border-radius: 10px;
    border: 2px solid #ec0000 !important;
}

#made-by {
    width: 100%;
    height: 65px;
    background: black;
}

#made-by a {
    font-size: 14px;
    color: #Fff !important;
    font-weight: 400;
    text-decoration: none;
}

#made-by a:hover {
    color: #FA3943 !important;
}

#made-by p {
    font-size: 14px;
    color: #Fff !important;
    font-weight: 400;
}

.made-text {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes swap {
    0% {
        background: url(../images/women.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    35% {
        background: url(../images/back-contact.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    68% {
        background: url(../images/back-review.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
